@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Google Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #141414;
  color: white;
  min-height: 100svh;
}

form {
  min-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
}

.text-input {
  width: 100%;
  min-height: 150px;
  border: none;
  padding: 0.5rem 1rem;
  color: black;
  font-size: 1.1rem;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
}

.form-group {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

#rate-value , #pitch-value{
  background-color: blue;
  border-radius: 0.2rem;
  position: absolute;
  padding: 0 0.2rem;
  right: 0;
  top: 0;
}

.form-group .custom-range {
  width: 100%;
}

.select-container {
  width: 100%;
  margin-bottom: 0.75rem;
}

#select-container {
  width: 100%;
  height: auto;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}

.btn-submit {
  width: 100%;
  height: auto;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  border: none;
  background-color: lightskyblue;
  font-size: 1rem;
}